html {
    scroll-behavior: smooth;
    
  }

  
  
.logo{

	height:68px;
    width:150px;
    margin-top: 2%;
    margin-left:15%;
}

@media screen and (max-width: 1024px) {
    .logo{
        margin-top: 5%;
        margin-left:5%;
    }
}


@media screen and (max-width: 600px) {
    .logo{
        margin-top: 10%;
        margin-left:5%;
    }
}

.icon-color{

    color:rgb(94, 7, 55);
    margin-top:40px;
       
}




nav{
    background-color: rgb(241, 219, 215);  
    height:130px;
    box-shadow: none;
    padding: 0;
    padding-right: 10%;

}

nav ul li{ 
    
    padding-top:5%;
   
   
}



nav ul li a{
    font-size: 20px;    
    color:rgb(88, 6, 57);
    letter-spacing: 0.5em;
    font-family: 'Bebas Neue', cursive;
  
   
}

ul li a:hover{
    color: rgb(141, 16, 93);
    background-color: transparent;
    transition: 200ms;
    
}


.sidenav{
    background-color: #fff;
    width:100%;
    background-color:  rgb(241, 219, 215);
   
}

.sidenav li{
    margin-bottom: 20px;
    padding-left:10%;
    padding-right:10%;

}


.sidenav li a{
    font-size: 20px;
    margin:5%;
    margin-bottom:20px;
    border-bottom: 1px solid rgb(88, 6, 57);
    color:rgb(88, 6, 57);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 50px;
   text-transform: uppercase;
  
}

#sidenavX{
   
text-align: left;
margin-left: 10%;
color:rgb(88, 6, 57);
margin-bottom: 100px;
font-size: 30px;

}


/*BANNER TOPO*/


#new-banner{
    background: url("../imagem/lap3.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 450px;
    filter:opacity(50%);
    margin-bottom: 0%;

}

    #info h2      {

        font-family: 'Kaushan Script', cursive;        
        position: absolute;
        margin-left:2%;
        margin-top: 10%;
        letter-spacing: 3px;
        display: block;
        font-size: 3em;
        text-align: center;
        color:#f5eaed;
        text-shadow: 2px 2px 5px #1d1919;

   }

   @media screen and (max-width: 1024px) {
    #info h2  {
         margin-top: 15%;
    }
}

@media screen and (max-width: 800px) {
    #info h2  {
         margin-top: 20%;
    }
}


   @media screen and (max-width: 600px) {
    #info h2  {
         margin-top: 37%;
    }
}

#dif{
  
    margin: 0;
}

/*SOMOS NOS*/

.img1 {
    float: right;
    width:40%;    
    margin-left:3%;
    margin-bottom: 1%;
    padding-top: 8%;
    margin-right: 3%;
  }
  

  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;       
    font-size: 4em;
    text-align: center;
    padding:0;
    padding-top:1%;
  }

#bio h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;       
    font-size: 4em;
    text-align: center;
    padding:0;
    padding-top:1%;
    

}

#elas {
  
    text-align: justify;
    font-family: sans-serif;
    color:#442439;
    margin-right:0;
    text-indent: 2em;    
    margin-top:0;
    padding:10%;
    padding-top:0%;
    padding-bottom: 2%;
    
}

#elas p{
    margin-top:0;
    margin-bottom: 0;
    
  
}

#introducao{    
    padding-left:3%;
    padding-right: 3%;
    width: 100%;
    padding-bottom: 1%;
   
}


@media screen and (max-width: 1024px) {
    #introducao {
        width: 100%;
    }

}


@media screen and (max-width: 600px) {
    #elas{
        padding:3%;
    }
}




/*FABIOLA*/

.img2{
    float: left;
    width:35%;    
    margin-right: 2%;
    margin-bottom: 4%;
    margin-left:1%;
    
   
    
  }
  
  
#fabiola {

    background-color:  rgb(241, 219, 215);  
    text-align: justify;
    font-family: sans-serif;
    color:#442439;   
    text-indent: 2em;    
    margin-top:0;    
    padding-top:2%;
    padding-left:10%;
    
    

}



#fabiola p{
    margin-top:0%;
    margin-bottom: 0;    
      padding:0.5%;
      margin-right: 5%;
      
      
   
  
}


@media screen and (max-width: 600px) {
    #fabiola p {
        margin-right: 0%;
    }
}

#bio-fab{
    margin-right: 10%;
    padding-left:3%;
    padding-right:3%;
    background-color: #eee5e5;
    padding-bottom: 1%;
    margin-top:10%;
  
    
}


#fabiola h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;       
    font-size: 3.5em;         
    padding:0;
    text-align: left;
    padding-top:1%;
  
}


@media screen and (max-width: 600px) {
    #fabiola h1 {
        font-size: 3.2em;  
    }
}


#usuario{
    font-size: 20px;
    color:#8f5858;
    font-weight:bold;
    padding:0;
    margin-left:1%;
}


#rede-social{

    margin-top:2%;
    
    
}




/*DEBORAH */


.img3{
    float: right;
    width:35%;    
    margin-right: 5%;
    margin-bottom: 4%;
    margin-left:1%;
   
    
  }
  
  
#deborah {

    background-color:  rgb(241, 219, 215);  
    text-align: justify;
    font-family: sans-serif;
    color:#442439;   
    text-indent: 2em;    
    margin-top:0;    
    padding-top:12%;
    padding-bottom:10%;
    padding-left:10%

}



#deborah p{
    margin-top:0%;
    margin-bottom: 0;    
      padding:1%;
      margin-right: 40%;
      
  
}


#bio-deb{
    margin-right: 10%;
    padding-left:3%;
    padding-right:3%;
    background-color: #eee5e5;
    padding-bottom: 1%;
    margin-top:10%;
   margin-left:10%;
    
}


@media screen and (max-width: 800px) {
    #deborah p {
        margin-right: 0%;
    }
    #bio-deb{
        margin-left:0;

    }
}


#deborah h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;       
    font-size: 3.5em;       
  
    padding:0;
    text-align: left;
    padding-top:3%;
  
}


#usuariodeb{
    font-size: 20px;
    color:#8f5858;
    font-weight:bold;
    padding:0;
   
}


#rede-socialD{
    text-align: right;
  

}

#rede-socialD img{
    margin-right: 2%;
}




    h6{
    
        color:#bf7575;
        text-transform: uppercase; 
        letter-spacing: 2.5%;  
      text-align: center;
      font-weight: 400;
      margin-bottom: 2%;
      margin-top: 4%;
      font-size:120%;
    
    }
    

/* COMO FUNCIONA DIF MENTORIA */
#texto1{
  
    padding-left:2%;
    padding-right: 2%;
    background-color:rgba(124,124,124,0.07);
    padding-bottom:1%;
    padding-top:2%;
    
}

h4{
    font-size: 3em;
    font-family: 'Kaushan Script', cursive;
    color:#a02459;
    text-align: center;
    letter-spacing: 2px;
  
   
}


#texto1 p,
#texto2 p,
#texto3 p{


    text-indent: 2em;
 text-align: justify; 
 font-family: sans-serif;
 color:#442439;
 margin-bottom: 0;
 
}

 


    #business1{
      
        padding-top:5%;

    }

    #business1 img{
        width: 80%;
        height: auto;

        
    }




/*ESSE PROGRAMA VAI */

#texto2 li{
    list-style-type: circle !important;
    margin-left: 5%;
    
    }
    
#texto2{
    padding-left:2%;
    padding-right: 2%;
    text-align: justify;
}    

#business2{
      
    padding-top:6%;

}

#business2 img{
    width: 60%;
    
}


@media screen and (max-width: 800px) {
    #business2, #business4, #business6 {
      display:none;
    }

  }


#texto3{

padding-left:2%;
padding-right: 2%;
background-color:  rgb(245, 229, 226); 
padding-top:2%;
padding-bottom: 2%;
text-align: justify;
}


#business3{
    padding-top: 3%;
}


#business3 img{
    width: 60%;   
}

#texto3 li{
    list-style-type: circle !important;
    margin-left:5%;
    }


#texto4 li{
    list-style-type: circle !important;
    margin-left:5%;
 

}


#texto4{
    padding-left:2%;
    padding-right: 2%;
    color:#442439;
    text-align: justify;
    
}    

#business4{
    padding-top:12%;
}


#business4 img{
    width: 60%;
    
   
}


#texto5{

    padding-left:2%;
    padding-right: 2%;
    background-color:rgba(124,124,124,0.07);
    padding-top:2%;
    padding-bottom: 2%;
    text-align: justify;
    color:#442439;
    text-indent: 2em;
    
    }
    

#business5 img{
    width: 80%;   
}


#business5 {
      
    padding-top:3%;

}

#voces{
    padding-top: 4%;
}



/*TEXTO 6*/
#texto6{
    margin-top:2%;
    padding-bottom: 2%;
   
}
#texto6{
    padding-left:2%;
    padding-right: 2%;
    text-align: justify;
    color:#442439;
    
}    

#texto6 p{
    margin-left:5%;

}
#texto6 li{
    list-style-type: circle !important;
    margin-left:5%;

}

#empreendedoras{
    margin-top:2%;
    
}


#business6 img{
    width: 70%;   
  
}

#business6{
    padding-top:3%;
}



#texto7{

    padding-left:2%;
    padding-right: 2%;
    background-color:  rgb(245, 229, 226); 
    padding-top:2%;
    padding-bottom: 2%;
    text-align: justify;
    color:#442439;

    }
    
#texto7 li{
    list-style-type: circle !important;
    margin-left:5%;


}
#business7 img{
    width: 80%;   
}


#business7{
    padding-top:6%;
}

@media screen and (max-width: 1366px) {
    #business1{
        padding-top:30%;
    }
    #business2{
        padding-top: 15%;
     
 
    }
    #business2 img{
        width: 80%;
    }
    #business3{
        padding-top: 10%;
    }
    #business3 img{
        width: 80%;
    }

    #business4{
        padding-top: 20%;
    }

    #business4 img{
        width: 90%;
    }
    

   #business6{
        padding-top: 13%;
   
    }
    #business7{
        padding-top: 20%;
   
    }    
}


@media screen and (max-width: 1400px) {
    #business3, #business1, #business7{
        padding-top:5%;
    }
}


#receber{
    margin-top:1%;
}


#texto1 p,
#texto2 ul,
#texto3 ul,
#texto4 p,
#texto4 ul,
#texto5 p,
#texto6 p,
#texto6 ul,
#texto7 ul{
    font-size:20px;    
    
}


#sonhos{
        background-color:  rgb(245, 229, 226); 
        margin: 0;
        padding:2%;
}
#sonhos h1{
  
    text-transform: none;
    color:rgb(90, 9, 63);
    letter-spacing: 3px;
    font-size:30px;
    
    margin:0;
    font-family: 'Seaweed Script', cursive;

}



#porquee{
    background-color:rgba(124,124,124,0.07);
    border:1px solid #a02459;   
    font-size:1em;
    font-family: sans-serif;
    text-transform: none;
    font-weight: bold;
    color:#a02459;  
    
    margin-top:8%;
    margin-left:10%; 
}




#contato h1{
    font-size:3em;    
    margin-bottom: 2%;
}

#endereco{
    padding:1%;

}

#contato-name{
    padding:0%;
    margin:0;
}
#mail, #phone{
    
    font-size:20px;
    font-family: sans-serif;
    margin: 0;
    padding:0;
    color:rgb(103, 103, 109);
}


#mail i,
#phone i{
   
    font-size:30px;
    color:#a02459;
    margin: 0;
    padding:0;
    margin-right:1%;
   
   
}
.icone{
    margin-right:5px;
    margin-top: 0px;
}


    #locacao i{
    font-size: 6em;
    color:#a02459;
 
}

#mail p{
   
}


/*
@media screen and (max-width: 1024px) {
   
#mail p{
    margin-left:37%;
 }
}



@media screen and (max-width: 768px) {
   
    #mail p{
        margin-left:33%;
     }
    }


    @media screen and (max-width: 377px) {
   
        #mail p{
            margin-left:17%;
         }
        }
    

        @media screen and (max-width: 45px) {
   
            #mail p{
                margin-left:10%;
             }
            }



*/



#locacao p{
padding-top: 1px; 
margin-top:0;
font-size:1.2em;
font-family: sans-serif;
color:rgb(103, 103, 109);

}

#final{
    background-color:rgba(124,124,124,0.07);
    margin: 0;
    padding:1%;
}


#declaracao-final{
    background-color:  rgb(245, 229, 226); 
    margin: 0;
    padding:1%;
    font-size: 1.5em;
    color:#a02459;
    margin-top:3%;
    font-family: 'Kaushan Script', cursive;

}




#assunto,
#email-msg,
#name{
height: 35px;    
font-family: Arial;
font-size: 20px;    
background-color: white;
border:1px solid black;
width: 30%;


}
#text-area{
       
    font-family: Arial;
    font-size: 20px;    
    background-color: white;
    border:1px solid black;
    width: 30%;
    height:100px;
}


    /*footer*/
    
footer{
      
        font-size:1.2em;
        font-family: sans-serif;      
        font-weight: 400;
        letter-spacing: 2px;
        
    
}
#user-renata{
   
    font-size:20px;
color:rgb(243, 230, 230);

}

#criado{
    padding:1%;
        background-color:  #83204b; 
}






::placeholder{
    padding-left: 2%;
}



textarea{
    padding-top:0.5%;
}

.botao-enviar{
    width:130px;
    color:white;


}

.btn{
    background-color:  #a02459;
}

.btn:hover{
    background-color:#bf7575;;
    transition: 400ms;
 
}

input[type="submit"] {
     
    color:rgb(241, 231, 241);
}


@media screen and (max-width: 800px) {
    #assunto,
    #email-msg,
    #name,
    #text-area {
      width: 50%;
    }

@media screen and (max-width: 767px) {
    #assunto,
    #email-msg,
    #name,
    #text-area {
      width: 80%;
    }









