html {
    scroll-behavior: smooth;
    
  }

.logo{

	height:68px;
    width:170px;
    margin-top: 20%;
}

.icon-color{

    color:rgb(94, 7, 55);
    margin-top:40px;
    
}


#navbar{

display: flex;
justify-content: space-between;


}

nav{
    background-color: rgb(241, 219, 215);  
    height:130px;
    box-shadow: none;
    padding: 0;
   

}

nav ul li{
  
    
    height: 100px;
    padding-top:30px;
   
}



nav ul li a{
    font-size: 20px;    
    color:rgb(88, 6, 57);
    letter-spacing: 0.5em;
    font-family: 'Bebas Neue', cursive;
  
   
}

ul li a:hover{
    color: rgb(141, 16, 93);
    background-color: transparent;
    transition: 200ms;
    color
}


.sidenav{
    background-color: #fff;
    padding-top:100px;
    width:90%;
    background-color:  rgb(241, 219, 215);
}

.sidenav li{
    margin-bottom: 20px;

}


.sidenav li a{
    font-size: 24px;
    margin:30px;
    margin-bottom:20px;
    border-bottom: 1px solid rgb(88, 6, 57);
    color:rgb(88, 6, 57);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 50px;
   text-transform: uppercase;
  
}

.sidenav-close{
   
text-align: right;
margin-right: 20px;
color:rgb(88, 6, 57);

}




#new-banner{
    background: url("../imagem/lop.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 450px;
    filter:opacity(50%);
         
}

    #info h2      {
        
        font-family: 'Kaushan Script', cursive;        
        position: absolute;
        
        margin-left:15%;
        margin-top: 170px;
        letter-spacing: 3px;
        display: block;
        font-size: 240%;

   }
   
   
#info p{
   
    font-family: 'Kaushan Script', cursive;       
    text-align: center;
    font-size: 20px;




}


.img1 {
    float: right;
    width:35%;
    margin-top:4%;
    margin-left:7%;
    margin-bottom: 5%;
    padding-top: 18%;
  }
  

#quemSomos{
    padding:3%;
}



h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;       
    font-size: 4em;
    text-align: center;
    padding:0;
    

}

#elas {

    background-color:  rgb(241, 219, 215);  
    text-align: justify;
    font-family: sans-serif;
    color:#442439;
    margin-right:0;
    text-indent: 2em;    
    margin-top:0;
    padding:3%;
    padding-top:1%;
}

#elas p{
    margin-top:0;
    margin-bottom: 0;
  
}





/*
.container{
    width: 80%;
}

#quemSomos{
    background-color: rgb(245, 248, 248);
    padding-top: 3%;
    padding-bottom: 2%;
    margin-bottom: 0;
    
 
}


#quem{
   background-color:  rgb(241, 219, 215);    
    margin-top: 10vw;
    margin-left: 12vw;
     width: 32%;   
    text-align: justify;
    font-size: 1vw;
    font-family: sans-serif;
    color:#442439;
    padding: 2vw;
}

#quem p{
    text-indent: 2em;
    margin:0.5vw;
}


h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#bf7575;
    text-transform: uppercase;   
  text-align: center;
  font-size:3vw;
  margin-top: 1vw;

}

/*DEBORAH

#deborah img{
    width: 40%;
    margin-left:10%;
}

*/

/*
#quem2 p{
    text-indent: 2em;
    margin:0.3vw;
}


#quem2{
    
    
    background-color:  rgb(241, 219, 215);    
    margin-top: 10vw;
    margin-left: 43vw;    
     width: 32%;   
      
    font-size: 1em;
    font-family: sans-serif;
    color:#442439;
    text-align: justify;
    padding: 2vw;
    
}


.foto2 img{
    width: 40%;
  margin-left: 13vw;
  margin-top:5%;
  margin-bottom: 10%;

    
}


*/



.foto img{
  width: 40%;
  margin-left: 50%;
  margin-top:6%;
  margin-bottom: 10%;
  

}



#sobreNos{
    background-color:  rgb(241, 219, 215);    
    margin-top: 2vw;
    margin-left: 7vw;
     width: 40vw;   
    padding-left:2vw;
    padding-right: 4vw;
    font-size: 1vw;
    font-family: sans-serif;
    color:#442439;
    margin-bottom: 10%;
    padding-top:2vw;
    padding-bottom: 2vw;
    text-align: justify;

}



.foto3 img{
    width: 25%;
     position: absolute;
  margin-left: 46%;
  margin-top:8%;
  margin-bottom: 10%;
  transform: rotate(20deg);

    
}


#sobreNos p{
    text-indent: 2em;
    margin:0.3vw;
}


    h6{
    
        color:#bf7575;
        text-transform: uppercase; 
        letter-spacing: 2.5%;  
      text-align: center;
      font-weight: 400;
      margin-bottom: 2%;
      margin-top: 4%;
      font-size:120%;
    
    }
    


#texto1{
  
    margin:1%;
    padding-left:5%;
    padding-right: 5%;
    background-color:rgba(124,124,124,0.07);
    padding-bottom:1%;
}

h4{
    font-size: 3em;
    font-family: 'Kaushan Script', cursive;
    color:#a02459;
    text-align: center;
    letter-spacing: 2px;
  
   
}



#texto1 p,
#texto2 p,
#texto3 p{
 text-indent: 2em;
 text-align: justify;
 margin-right: 3%;
 font-family: sans-serif;
 color:#442439;
 margin-bottom: 0;
 

}
    #business1{
      
        padding-top:10%;

    }

    #business1 img{
        width: 80%;
        height: auto;
        
        
    }

    /*
    #idea-icon{
        position: absolute;

    }
#idea-icon img{
    height:50px;
    left:3%;
    margin-top:180%;
    transform: rotate(-20deg);

}*/



#texto2 li{
    list-style-type: circle !important;
    margin-left: 5%;
    
    }
    
#texto2{
    padding-left:6%;
    padding-right: 5%;
    text-align: justify;
    margin:1%;
}    




#business2{
      
    padding-top:1%;

}

#business2 img{
    width: 60%;
    
}


@media screen and (max-width: 800px) {
    #business2, #business4, #business6 {
      display:none;
    }

  }


#texto3{

padding-left:5%;
padding-right: 5%;
background-color:  rgb(245, 229, 226); 
padding-top:2%;
padding-bottom: 2%;
text-align: justify;
}



#business3 img{
    width: 80%;   
}

#texto3 li{
    list-style-type: circle !important;
    margin-left:6%;
    }


#texto4 li{
    list-style-type: circle !important;
    margin-left:5%;
 

}

#texto4 p{
    margin-left:5%;

}

#texto4{
    padding-left:6%;
    padding-right: 5%;
    text-align: justify;
    
}    

#business4{
    padding-top:10%;
}


#business4 img{
    width: 80%;
    
   
}


#texto5{

    padding-left:10%;
    padding-right: 2%;
    background-color:rgba(124,124,124,0.07);
    padding-top:2%;
    padding-bottom: 2%;
    
    }
    

#business5 img{
    width: 80%;   
}


#business5 {
      
    padding-top:3%;

}

#voces{
    padding-top: 4%;
}



/*TEXTO 6*/
#texto6{
    margin-top:2%;
    padding-bottom: 2%;
   
}
#texto6{
    padding-left:6%;
    padding-right: 5%;
    text-align: justify;
    
}    

#texto6 p{
    margin-left:5%;

}
#texto6 li{
    list-style-type: circle !important;
    margin-left:5%;

}

#empreendedoras{
    margin-top:2%;
    
}


#business6 img{
    width: 80%;   
  
}

#business6{
    padding-top:3%;
}



#texto7{

    padding-left:5%;
    padding-right: 5%;
    background-color:  rgb(245, 229, 226); 
    padding-top:2%;
    padding-bottom: 2%;
    text-align: justify;

    }
    
#texto7 li{
    list-style-type: circle !important;
    margin-left:6%;


}

#business7 img{
    width: 80%;   
}


#business7 {
      
    padding-top:3%;

}

#receber{
    margin-top:1%;
}


#texto1 p,
#texto2 ul,
#texto3 ul,
#texto4 p,
#texto4 ul,
#texto5 p,
#texto6 p,
#texto6 ul,
#texto7 ul{
    font-size:20px;    
    
}


#sonhos{
        background-color:  rgb(245, 229, 226); 
        margin: 0;
        padding:2%;
}
#sonhos h1{
  
    text-transform: none;
    color:rgb(90, 9, 63);
    letter-spacing: 3px;
    font-size:30px;
    font-weight: bold;
    margin:0;
}



#porquee{
    background-color:rgba(124,124,124,0.07);
    border:1px solid #a02459;   
    font-size:1em;
    font-family: sans-serif;
    text-transform: none;
    font-weight: bold;
    color:#a02459;  
    
    margin-top:8%;
    margin-left:10%; 
}




#contato{
    background-color:#ffff;
    margin:0;
    padding:0;
}

#contato h1{
    font-size:3em;
    margin-top:2%;
    margin-bottom: 2px;
}

#endereco{
    padding:1%;

}

#xx{
    padding:1%;
    margin:0;
}
#mail, #phone{
    
    font-size:25px;
    font-family: sans-serif;
    margin: 0;
    padding:0;
}


#mail i,
#phone i{
   
    font-size:30px;
    color:#a02459;
    
   
   
}
.icone{
    margin-right:5px;
    margin-top: 2px;
}

#locacao i{
    font-size: 6em;
    color:#a02459;
 
}

#locacao p{
padding-top: 1px; 
margin-top:0;
font-size:1.5em;
font-family: sans-serif;
color:rgb(103, 103, 109);

}


#declaracao-final{
    background-color:  rgb(245, 229, 226); 
    margin: 0;
    padding:2%;
    font-size: 1.5em;
    color:#a02459;
    font-weight: bold;
    font-family: cursive;

}




    /*footer*/
    
footer{
        height: 4em;
        background-color: #bf7575;    
        font-size:1.2em;
        font-family: 'Times New Roman', Times, serif;
        padding-top:3px;
        font-weight: 800;
        letter-spacing: 0.5px;
    
}




    /*
    .page-footer{
        background-color: #bf7575;
        width: 100%;
        height: 33%;
        font-size:16px;
       color:black;
      
     

        }
        
    
    
    
    div#social ul li {
        width:32px;
        height:32px;
        float:left;
        margin-right: 15px;
    }
    
    
    div#social ul li a{
        background:url("../imagem/social1.png");
            height: 100%;
        text-indent: -99999em;
        
    }
    
    div#social ul li:nth-child(1) a{background-position: 0 0;}
    div#social ul li:nth-child(2) a{background-position: -129px 0;}
    
    div#social ul li:nth-child(1) a:hover {background-position: 0 -32px;}
    div#social ul li:nth-child(2) a:hover {background-position: -128px -32px;}
    
        
    }
    
    footer .container{
        margin-left:15vw;
      width: 70vw;
      padding-bottom:0;
    }
    
    h5{
        font-size: 120%;
        color:rgb(60, 60, 61);
    }
    
    .aa p,
    .bb p
    {
        font-size: 1vw;
    }
    
    